.container {
  text-align: center;
  font-family: helvetica;
  font-size: 25px;
  padding-top: 75px; }

.thumbnail {
  max-width: 150px;
  max-height: 150px;
  display: inline-block;
  margin-bottom: 10px; }
  .thumbnail + .thumbnail {
    margin-left: 15px; }
  .thumbnail img {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    object-fit: cover; }

#lightBoxBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none; }

#lightBoxPic {
  position: absolute;
  top: 25%;
  width: 100%;
  display: none; }

#lightBoxImage {
  margin: 0 auto;
  display: block;
  width: 500px;
  height: auto; }
