// transition x-browser
@mixin transition($property: all, $duration: .4s, $easing: ease-in-out)
	-webkit-transition: $property, $duration, $easing
	-moz-transition: $property, $duration, $easing
	-ms-transition: $property, $duration, $easing
	-o-transition: $property, $duration, $easing
	transition: $property, $duration, $easing

// border-radius x-browser
@mixin rounded($radius: 0.3em)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	border-radius: $radius

html, body
	padding: 0
	margin: 0
	width: 100%
	height: 100%

.container
	text-align: center
	font-family: helvetica
	font-size: 25px
	padding: 20px
	position: relative

header
	padding-top: 55px

// .form-search
// 	padding-bottom: 15px

.thumbnail
	width: 150px
	height: 150px
	display: inline-block
	margin-bottom: 10px
	&+.thumbnail
		margin-left: 15px
	img
		width: 150px
		height: 150px
		border: 2px solid #666
		object-fit: cover
		@include rounded()


// lightbox
#lightBoxBackground
	position: absolute
	top: 0px
	left: 0px
	height: 100vh
	width: 100%
	background: rgba(0,0,0,0.7)
	display: none
	// @include transition()

#lightBoxPic
	width: 63%
	position: absolute
	margin: auto
	top: 50px
	bottom: 0
	left: 0
	right: 0
	display: table
	// @include transition()
	img
		max-height: 90vh
		// @include transition()
